@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
